/* Styles recreated from 'Template for IAEA Safety Standards and Nuclear Security Guidance 20-06-26.docx' */

html {
  font-family: "Times New Roman", Times, serif;
  font-size: 11pt;
}

body {
  color: black;
  background-color: lightgray;
  counter-reset: figcounter;
  counter-reset: h1counter;
  counter-reset: fncounter;
}


.document-container {
  max-width: 16cm;
  margin: 0 auto;
  padding: 2.54cm;
  background-color: white;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  margin-top: 18pt;
  margin-bottom: 24pt;
  font-size: 12pt;
  text-indent: 0.51cm;
}
h2 {
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 12pt;
  margin-bottom: 12pt;
  font-size: 12pt;
}
h3 {
  font-weight: bold;
  margin-top: 12pt;
  margin-bottom: 12pt;
  font-size: 12pt;
}
h4 {
  font-style: italic;
  font-weight: normal;
  margin-top: 12pt;
  margin-bottom: 12pt;
  font-size: 12pt;
}
ul {
  margin-left: 0.63cm;
  margin-bottom: 0cm;
  list-style: '— ';
}

/* Tables with 1px lines on top, bottom of header, and bottom */
table {
  border-collapse: collapse;
  width: 100%;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
th {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-weight: normal;
  text-align: center;
}

/* Counters for H1 and Paragraphs */
h1 {
  counter-reset: pcounter;
  counter-increment: h1counter;
}
p {
  counter-increment: pcounter;
}
h1::before {
  content: counter(h1counter) ".\a0";
}
p::before {
  content: counter(h1counter) "." counter(pcounter) ".\a0\a0";
}

/* Top-level ordered lists in lower-alpha and parentheses */
ol {
  counter-reset: listcounter;
  margin-left: 0cm;
  margin-bottom: 3pt;
  list-style-position: outside;
}
ol > li {
  list-style: none;
  counter-increment: listcounter;
}
ol > li::marker {
  content: "(" counter(listcounter, lower-alpha) ")\2003";
}

/* Second-level ordered lists in lower-roman and parentheses */
ol ol {
  counter-reset: sublistcounter;
  margin-left: 0cm;
  margin-bottom: 3pt;
  list-style-position: outside;
}
ol ol > li {
  list-style: none;
  counter-increment: sublistcounter;
}
ol ol > li::marker {
  content: "(" counter(sublistcounter, lower-roman) ")\2003";
}

/* Footnote specific styling */
div.footnotes > ol {
  counter-reset: fncounter;
  margin-left: 0cm;
  margin-bottom: 3pt;
  list-style-position: outside;
}
div.footnotes > ol > li {
  list-style: none;
  counter-increment: fncounter;
}
div.footnotes > ol > li::marker {
  content: "[" counter(fncounter, decimal) "]\2003";
}
div.footnotes > ol > li > p::before {
  content: normal;
}
div.footnotes > ol > li > p {
  display: inline;
}

/* image and figure styling */ 
img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  counter-increment: figcounter;
}
p:has(img) {
  counter-increment: none;
  margin: auto;
  text-align: center;
}
p:has(img)::before {
  content: normal;
}
img + em {
  font-style: italic;
  font-weight: normal;
}
img + em::before {
  content: "FIG.\a0" counter(figcounter, decimal) ".\a0";
}
